 <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<h2>Variants</h2>
<%= render(@product.variants)  || 'No Variant'
#Eğer comments yoksa no comments yazar ekrana 
%>
<h2>Add a Variant</h2>
<%= render 'variants/form' %>
 
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>